<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="LoginProxy" class="cn.edu.xmu.software.ijoke.action.LoginAction">
		<property name="adminLoginService" ref="AdminLoginService"/>
	</bean>

	<bean id="UnverifyListProxy" class="cn.edu.xmu.software.ijoke.action.UnverifyListAction">
		<property name="jokeInfoService" ref="JokeInfoService"/>
	</bean>	
	
	<bean id="JokeListProxy" class="cn.edu.xmu.software.ijoke.action.JokeListAction">
		<property name="jokeInfoService" ref="JokeInfoService"/>
	</bean>
	
	<bean id="JokeFileUploadProxy" class="cn.edu.xmu.software.ijoke.action.JokeFileUploadAction">
		<property name="jokeInfoUploadService" ref="JokeInfoUploadService"/>
	</bean>
	
	<bean id="UserListProxy" class="cn.edu.xmu.software.ijoke.action.UserListAction">
		<property name="userService" ref="UserService"/>
	</bean>	
	
	<bean id="CatalogManageProxy" class="cn.edu.xmu.software.ijoke.action.CatalogManageAction">
		<property name="catalogManageService" ref="CatalogManageService"/>
	</bean>
	
	
	
	
	
</beans>