<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://59.77.5.42:3306/ijokerdata?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />

		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>
					cn/edu/xmu/software/ijoke/entity/JokeFile.hbm.xml
				</value>
				<value>
					cn/edu/xmu/software/ijoke/entity/ClassAndJokeFile.hbm.xml
				</value>
				<value>
					cn/edu/xmu/software/ijoke/entity/Joke.hbm.xml
				</value>
				<value>
					cn/edu/xmu/software/ijoke/entity/Catalog.hbm.xml
				</value>
				<value>
					cn/edu/xmu/software/ijoke/entity/IjokerAdmin.hbm.xml
				</value>
			</list>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- DAO -->
	<bean id="JokeFileDAO" class="cn.edu.xmu.software.ijoke.dao.JokeFileDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ClassAndJokeFileDAO" class="cn.edu.xmu.software.ijoke.dao.ClassAndJokeFileDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="JokeDAO" class="cn.edu.xmu.software.ijoke.dao.JokeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
		<bean id="IjokerAdminDAO" class="cn.edu.xmu.software.ijoke.dao.IjokerAdminDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CatalogDAO" class="cn.edu.xmu.software.ijoke.dao.CatalogDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="UserDAO" class="cn.edu.xmu.software.ijoke.dao.UserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<!-- Service -->
	<bean id="LoginService" class="cn.edu.xmu.software.ijoke.serviceimpl.LoginServiceImpl">

	</bean>


	   <bean id="RegisterService" class="cn.edu.xmu.software.ijoke.serviceimpl.RegisterServiceImpl"
         abstract="false" lazy-init="default" autowire="default"
		dependency-check="default">
		</bean>


	<bean id="SearchService" class="cn.edu.xmu.software.ijoke.serviceimpl.SearchServiceImpl"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="jokeDAO">
			<ref bean="JokeDAO" />
		</property>
		<property name="jokeFileDAO">
			<ref bean="JokeFileDAO" />
		</property>
	</bean>

	<bean id="SearchByJokeIdService" class="cn.edu.xmu.software.ijoke.serviceimpl.SearchByJokeIdServiceImpl"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="jokeDAO">
			<ref bean="JokeDAO" />
		</property>
		<property name="jokeFileDAO">
			<ref bean="JokeFileDAO" />
		</property>
	</bean>
	<bean id="JokeInfoService"
		class="cn.edu.xmu.software.ijoke.serviceimpl.JokeInfoServiceImpl"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="jokeDAO">
			<ref bean="JokeDAO" />
		</property>
		<property name="classAndJokeFileDAO">
			<ref bean="ClassAndJokeFileDAO" />
		</property>
			<property name="jokeFileDAO">
			<ref bean="JokeFileDAO" />
		</property>

	</bean>

	<bean id="CatalogManageService" class="cn.edu.xmu.software.ijoke.serviceimpl.CatalogManageServiceImpl"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="catalogDAO">
			<ref bean="CatalogDAO" />
		</property>
	</bean>
	<bean id="UserService" class="cn.edu.xmu.software.ijoke.serviceimpl.UserServiceImpl"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="userDAO">
			<ref bean="UserDAO" />
		</property>
	</bean>
	<bean id="AdminLoginService" class="cn.edu.xmu.software.ijoke.serviceimpl.AdminLoginServiceImpl"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="ijokerAdminDAO">
			<ref bean="IjokerAdminDAO" />
		</property>
	</bean>
	
	<bean id="JokeInfoUploadService" class="cn.edu.xmu.software.ijoke.serviceimpl.JokeInfoUploadServiceImpl"
		lazy-init="default" autowire="default" dependency-check="default">
			<property name="adminDAO">
			<ref bean="IjokerAdminDAO" />
		</property>
	</bean>
		<bean id="VerifyService" class="cn.edu.xmu.software.ijoke.serviceimpl.VerifyServiceImpl"
		lazy-init="default" autowire="default" dependency-check="default">
				<property name="jokeDAOServer">
			<ref bean="JokeDAO" />
		</property>
	</bean>
</beans>